* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Open Sans", sans-serif;
    box-sizing: border-box;
}

html {
    background: rgb(85, 77, 73);
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: none;

    z-index: 0;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.node {
    position: absolute;

    display: inline-block;
    background: #444;
    border-radius: 2px;
    border: 1px solid #333;
    color: #eee;
    font-size: 14px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    transition: box-shadow 0.1s linear;

    z-index: 1;
}

.node-error {
    display: none;

    position: absolute;
    left:100%;
    top: -1px;
    background: #444;
    border: 1px solid #333;
    padding: 4px;
    min-width: 128px;
    max-width: 256px;
}

.node-header:hover + .node-error {
    display: initial;
}

.node.active {
    box-shadow: 0px 3px 10px rgba(125, 181, 233, 0.3);
    border-color: rgba(125, 181, 233, 0.3);
}

.node.active.error {
    box-shadow: 0px 3px 10px rgba(189, 77, 62, 0.3);
    border-color: rgba(189, 77, 62, 0.3);
}

.node-header {
    background-color: rgb(0, 30, 100);
    border-bottom: 1px solid #333;
    cursor: pointer;

    filter: brightness(1.0);
    transition: filter 0.1s linear;
}

.node.error .node-header {
    background: rgb(122, 48, 48);
}

.node-header:hover {
    filter: brightness(1.25);
}

.node-header-gradient {
    /* background: linear-gradient(0deg, rgba(0,0,0,0.4051821412158614) 0%, rgba(0,0,0,0) 22%); */
    padding: 4px 8px;
}

.node-header h2 {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.node.error .node-header h2::after {
    content: '⚠️';
    font-size: 12px;
}

.node-exprs {
    padding: 4px;
    padding-bottom: 0px;
}

.node.error .node-exprs > input {
    background: #fee;
    color: #a55;
}

.node-exprs > input {
    padding: 4px;
    border: none;
    color: #333;
    background: #eee;
    font-family: 'Fira Code', monospace;
    border-radius: 2px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.node-io {
    padding: 4px;
}

.node-inputs {
    flex: 1 0 auto;

    justify-content: flex-start;
    align-items: flex-start;

    text-align: left;
}

.node-io-item {
    display: inline-block;
    padding: 4px;
    background: none;
    transition: background 0.1s ease-in;
    cursor: pointer;
    border-radius: 2px;
}

.node-io-item:hover {
    background: rgba(0, 0, 0, 0.3);
}

.node-io-item.input > span {
    margin-left: 4px;
}

.node-outputs {
    flex: 1 0 auto;

    justify-content: flex-start;
    align-items: flex-end;

    text-align: right;
}

.node-io-item.output > span {
    margin-right: 4px;
}

.node-socket {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #eee;
    background: rgb(43, 98, 248);

    vertical-align: middle;
}
